mixin table()
	table.table&attributes(attributes)
		thead.table__header
			tr.table__row
				th.table__cell(data-sort='string' data-sort-onload=yes) 
					span.table__header-text User id
				th.table__cell Subscription & autorenewal
				th.table__cell(data-sort='string' data-sort-onload=yes)
					span.table__header-text Total spent
				th.table__cell(data-sort='string' data-sort-onload=yes)
					span.table__header-text Created at
				th.table__cell(data-sort='string' data-sort-onload=yes)
					span.table__header-text Last seen
		tbody.table__body
			tr.table__row
				td.table__cell 74C16EC3-C6A6-4740-B9A4-8F3F2F-8F3F2F-8F3F2F
				td.table__cell
					ul.table__subscription
						li.table__subscription-item 
							.table__subscription-title Game of thrones:
							.table__badge.badge.badge_trial 
								.badge__text Trial
								svg.badge__icon(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(fill-rule='evenodd', clip-rule='evenodd', d='M9.86563 1.13451C8.50777 0.86441 7.1003 1.00303 5.82122 1.53285C4.54213 2.06266 3.44888 2.95987 2.67971 4.11101C1.91054 5.26215 1.5 6.61553 1.5 8L0.25 8L2.25 10.5L4.25 8L3 8C3 6.9122 3.32257 5.84884 3.92692 4.94437C4.53127 4.0399 5.39025 3.33495 6.39524 2.91867C7.40024 2.50238 8.5061 2.39347 9.573 2.60568C10.6399 2.8179 11.6199 3.34173 12.3891 4.11092C13.1583 4.88011 13.6821 5.86011 13.8943 6.92701C14.1065 7.9939 13.9976 9.09977 13.5813 10.1048C13.1651 11.1098 12.4601 11.9687 11.5556 12.5731C10.6512 13.1774 9.5878 13.5 8.5 13.5V15C9.88447 15 11.2378 14.5895 12.389 13.8203C13.5401 13.0511 14.4373 11.9579 14.9672 10.6788C15.497 9.3997 15.6356 7.99224 15.3655 6.63437C15.0954 5.2765 14.4287 4.02922 13.4497 3.05026C12.4708 2.07129 11.2235 1.4046 9.86563 1.13451Z')
									path(d='M6.5 7.90753L8 9.40753L11 6.40753')

						li.table__subscription-item 
							.table__subscription-title Breaking Bad:
							.table__badge.badge.badge_active 
								.badge__text Active
								svg.badge__icon(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(fill-rule='evenodd', clip-rule='evenodd', d='M9.86563 1.13451C8.50777 0.86441 7.1003 1.00303 5.82122 1.53285C4.54213 2.06266 3.44888 2.95987 2.67971 4.11101C1.91054 5.26215 1.5 6.61553 1.5 8L0.25 8L2.25 10.5L4.25 8L3 8C3 6.9122 3.32257 5.84884 3.92692 4.94437C4.53127 4.0399 5.39025 3.33495 6.39524 2.91867C7.40024 2.50238 8.5061 2.39347 9.573 2.60568C10.6399 2.8179 11.6199 3.34173 12.3891 4.11092C13.1583 4.88011 13.6821 5.86011 13.8943 6.92701C14.1065 7.9939 13.9976 9.09977 13.5813 10.1048C13.1651 11.1098 12.4601 11.9687 11.5556 12.5731C10.6512 13.1774 9.5878 13.5 8.5 13.5V15C9.88447 15 11.2378 14.5895 12.389 13.8203C13.5401 13.0511 14.4373 11.9579 14.9672 10.6788C15.497 9.3997 15.6356 7.99224 15.3655 6.63437C15.0954 5.2765 14.4287 4.02922 13.4497 3.05026C12.4708 2.07129 11.2235 1.4046 9.86563 1.13451Z')
									path(d='M6.5 7.90753L8 9.40753L11 6.40753')


				td.table__cell $98.24
				td.table__cell May 11, 10:58
				td.table__cell May 11, 10:58


			tr.table__row
				td.table__cell 74C16EC3-C6A6-4740-B9A4-8F3F2F-8F3F2F-8F3F2F
				td.table__cell 
					.table__badge.badge.badge_active
						.badge__text Trial
						svg.badge__icon(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
							path(fill-rule='evenodd', clip-rule='evenodd', d='M9.86563 1.13451C8.50777 0.86441 7.1003 1.00303 5.82122 1.53285C4.54213 2.06266 3.44888 2.95987 2.67971 4.11101C1.91054 5.26215 1.5 6.61553 1.5 8L0.25 8L2.25 10.5L4.25 8L3 8C3 6.9122 3.32257 5.84884 3.92692 4.94437C4.53127 4.0399 5.39025 3.33495 6.39524 2.91867C7.40024 2.50238 8.5061 2.39347 9.573 2.60568C10.6399 2.8179 11.6199 3.34173 12.3891 4.11092C13.1583 4.88011 13.6821 5.86011 13.8943 6.92701C14.1065 7.9939 13.9976 9.09977 13.5813 10.1048C13.1651 11.1098 12.4601 11.9687 11.5556 12.5731C10.6512 13.1774 9.5878 13.5 8.5 13.5V15C9.88447 15 11.2378 14.5895 12.389 13.8203C13.5401 13.0511 14.4373 11.9579 14.9672 10.6788C15.497 9.3997 15.6356 7.99224 15.3655 6.63437C15.0954 5.2765 14.4287 4.02922 13.4497 3.05026C12.4708 2.07129 11.2235 1.4046 9.86563 1.13451Z')
							path(d='M6.5 7.90753L8 9.40753L11 6.40753')
				td.table__cell $78.24
				td.table__cell May 8, 10:58
				td.table__cell May 7, 10:58

			tr.table__row
				td.table__cell 74C16EC3-C6A6-4740-B9A4-8F3F2F-8F3F2F-8F3F2F
				td.table__cell 
					.table__badge.badge.badge_none
						.badge__text None
						
				td.table__cell $68.24
				td.table__cell May 1, 10:58
				td.table__cell May 9, 10:58


			tr.table__row
				td.table__cell 74C16EC3-C6A6-4740-B9A4-8F3F2F-8F3F2F-8F3F2F
				td.table__cell 
					.table__badge.badge.badge_exp
						.badge__text Expired
						svg.badge__icon(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
							path(fill-rule='evenodd', clip-rule='evenodd', d='M9.86563 1.13451C8.50777 0.86441 7.1003 1.00303 5.82122 1.53285C4.54213 2.06266 3.44888 2.95987 2.67971 4.11101C1.91054 5.26215 1.5 6.61553 1.5 8L0.25 8L2.25 10.5L4.25 8L3 8C3 6.9122 3.32257 5.84884 3.92692 4.94437C4.53127 4.0399 5.39025 3.33495 6.39524 2.91867C7.40024 2.50238 8.5061 2.39347 9.573 2.60568C10.6399 2.8179 11.6199 3.34173 12.3891 4.11092C13.1583 4.88011 13.6821 5.86011 13.8943 6.92701C14.1065 7.9939 13.9976 9.09977 13.5813 10.1048C13.1651 11.1098 12.4601 11.9687 11.5556 12.5731C10.6512 13.1774 9.5878 13.5 8.5 13.5V15C9.88447 15 11.2378 14.5895 12.389 13.8203C13.5401 13.0511 14.4373 11.9579 14.9672 10.6788C15.497 9.3997 15.6356 7.99224 15.3655 6.63437C15.0954 5.2765 14.4287 4.02922 13.4497 3.05026C12.4708 2.07129 11.2235 1.4046 9.86563 1.13451Z')
							path(d='M6.5 7.90753L8 9.40753L11 6.40753')
				td.table__cell $48.24
				td.table__cell May 6, 10:58
				td.table__cell May 10, 10:58



mixin table-active()
	table.table&attributes(attributes)
		thead.table__header
			tr.table__row
				th.table__cell(data-sort='string' data-sort-onload=yes) 
					span.table__header-text User id
				th.table__cell Subscription & autorenewal
				th.table__cell(data-sort='string' data-sort-onload=yes)
					span.table__header-text Total spent
				th.table__cell(data-sort='string' data-sort-onload=yes)
					span.table__header-text Created at
				th.table__cell(data-sort='string' data-sort-onload=yes)
					span.table__header-text Last seen
		tbody.table__body
			tr.table__row
				td.table__cell 74C16EC3-C6A6-4740-B9A4-8F3F2F-8F3F2F-8F3F2F
				td.table__cell.table__cell_active
					ul.table__subscription
						li.table__subscription-item 
							.table__subscription-title Game of thrones:
							.table__badge.badge.badge_trial 
								.badge__text Trial
								svg.badge__icon(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(fill-rule='evenodd', clip-rule='evenodd', d='M9.86563 1.13451C8.50777 0.86441 7.1003 1.00303 5.82122 1.53285C4.54213 2.06266 3.44888 2.95987 2.67971 4.11101C1.91054 5.26215 1.5 6.61553 1.5 8L0.25 8L2.25 10.5L4.25 8L3 8C3 6.9122 3.32257 5.84884 3.92692 4.94437C4.53127 4.0399 5.39025 3.33495 6.39524 2.91867C7.40024 2.50238 8.5061 2.39347 9.573 2.60568C10.6399 2.8179 11.6199 3.34173 12.3891 4.11092C13.1583 4.88011 13.6821 5.86011 13.8943 6.92701C14.1065 7.9939 13.9976 9.09977 13.5813 10.1048C13.1651 11.1098 12.4601 11.9687 11.5556 12.5731C10.6512 13.1774 9.5878 13.5 8.5 13.5V15C9.88447 15 11.2378 14.5895 12.389 13.8203C13.5401 13.0511 14.4373 11.9579 14.9672 10.6788C15.497 9.3997 15.6356 7.99224 15.3655 6.63437C15.0954 5.2765 14.4287 4.02922 13.4497 3.05026C12.4708 2.07129 11.2235 1.4046 9.86563 1.13451Z')
									path(d='M6.5 7.90753L8 9.40753L11 6.40753')

						li.table__subscription-item 
							.table__subscription-title Breaking Bad:
							.table__badge.badge.badge_active 
								.badge__text Active
								svg.badge__icon(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(fill-rule='evenodd', clip-rule='evenodd', d='M9.86563 1.13451C8.50777 0.86441 7.1003 1.00303 5.82122 1.53285C4.54213 2.06266 3.44888 2.95987 2.67971 4.11101C1.91054 5.26215 1.5 6.61553 1.5 8L0.25 8L2.25 10.5L4.25 8L3 8C3 6.9122 3.32257 5.84884 3.92692 4.94437C4.53127 4.0399 5.39025 3.33495 6.39524 2.91867C7.40024 2.50238 8.5061 2.39347 9.573 2.60568C10.6399 2.8179 11.6199 3.34173 12.3891 4.11092C13.1583 4.88011 13.6821 5.86011 13.8943 6.92701C14.1065 7.9939 13.9976 9.09977 13.5813 10.1048C13.1651 11.1098 12.4601 11.9687 11.5556 12.5731C10.6512 13.1774 9.5878 13.5 8.5 13.5V15C9.88447 15 11.2378 14.5895 12.389 13.8203C13.5401 13.0511 14.4373 11.9579 14.9672 10.6788C15.497 9.3997 15.6356 7.99224 15.3655 6.63437C15.0954 5.2765 14.4287 4.02922 13.4497 3.05026C12.4708 2.07129 11.2235 1.4046 9.86563 1.13451Z')
									path(d='M6.5 7.90753L8 9.40753L11 6.40753')


				td.table__cell $98.24
				td.table__cell May 11, 10:58
				td.table__cell May 11, 10:58


			tr.table__row
				td.table__cell 74C16EC3-C6A6-4740-B9A4-8F3F2F-8F3F2F-8F3F2F
				td.table__cell.table__cell_active
					ul.table__subscription
						li.table__subscription-item 
							.table__subscription-title Game of thrones:
							.table__badge.badge.badge_exp
								.badge__text Expired
								svg.badge__icon(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(fill-rule='evenodd', clip-rule='evenodd', d='M9.86563 1.13451C8.50777 0.86441 7.1003 1.00303 5.82122 1.53285C4.54213 2.06266 3.44888 2.95987 2.67971 4.11101C1.91054 5.26215 1.5 6.61553 1.5 8L0.25 8L2.25 10.5L4.25 8L3 8C3 6.9122 3.32257 5.84884 3.92692 4.94437C4.53127 4.0399 5.39025 3.33495 6.39524 2.91867C7.40024 2.50238 8.5061 2.39347 9.573 2.60568C10.6399 2.8179 11.6199 3.34173 12.3891 4.11092C13.1583 4.88011 13.6821 5.86011 13.8943 6.92701C14.1065 7.9939 13.9976 9.09977 13.5813 10.1048C13.1651 11.1098 12.4601 11.9687 11.5556 12.5731C10.6512 13.1774 9.5878 13.5 8.5 13.5V15C9.88447 15 11.2378 14.5895 12.389 13.8203C13.5401 13.0511 14.4373 11.9579 14.9672 10.6788C15.497 9.3997 15.6356 7.99224 15.3655 6.63437C15.0954 5.2765 14.4287 4.02922 13.4497 3.05026C12.4708 2.07129 11.2235 1.4046 9.86563 1.13451Z')
									path(d='M6.5 7.90753L8 9.40753L11 6.40753')

						li.table__subscription-item 
							.table__subscription-title Breaking Bad:
							.table__badge.badge.badge_none
								.badge__text None
				td.table__cell $78.24
				td.table__cell May 8, 10:58
				td.table__cell May 7, 10:58

			tr.table__row
				td.table__cell 74C16EC3-C6A6-4740-B9A4-8F3F2F-8F3F2F-8F3F2F
				td.table__cell.table__cell_active
					ul.table__subscription
						li.table__subscription-item 
							.table__subscription-title Game of thrones:
							.table__badge.badge.badge_none
								.badge__text None

						li.table__subscription-item 
							.table__subscription-title Breaking Bad:
							.table__badge.badge.badge_grace 
								.badge__text Grace
								svg.badge__icon(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(fill-rule='evenodd', clip-rule='evenodd', d='M9.86563 1.13451C8.50777 0.86441 7.1003 1.00303 5.82122 1.53285C4.54213 2.06266 3.44888 2.95987 2.67971 4.11101C1.91054 5.26215 1.5 6.61553 1.5 8L0.25 8L2.25 10.5L4.25 8L3 8C3 6.9122 3.32257 5.84884 3.92692 4.94437C4.53127 4.0399 5.39025 3.33495 6.39524 2.91867C7.40024 2.50238 8.5061 2.39347 9.573 2.60568C10.6399 2.8179 11.6199 3.34173 12.3891 4.11092C13.1583 4.88011 13.6821 5.86011 13.8943 6.92701C14.1065 7.9939 13.9976 9.09977 13.5813 10.1048C13.1651 11.1098 12.4601 11.9687 11.5556 12.5731C10.6512 13.1774 9.5878 13.5 8.5 13.5V15C9.88447 15 11.2378 14.5895 12.389 13.8203C13.5401 13.0511 14.4373 11.9579 14.9672 10.6788C15.497 9.3997 15.6356 7.99224 15.3655 6.63437C15.0954 5.2765 14.4287 4.02922 13.4497 3.05026C12.4708 2.07129 11.2235 1.4046 9.86563 1.13451Z')
									path(d='M6.5 7.90753L8 9.40753L11 6.40753')
						
				td.table__cell $68.24
				td.table__cell May 1, 10:58
				td.table__cell May 9, 10:58


			tr.table__row
				td.table__cell 74C16EC3-C6A6-4740-B9A4-8F3F2F-8F3F2F-8F3F2F
				td.table__cell.table__cell_active
					ul.table__subscription
						li.table__subscription-item 
							.table__subscription-title Game of thrones:
							.table__badge.badge.badge_none 
								.badge__text None
							

						li.table__subscription-item 
							.table__subscription-title Breaking Bad:
							.table__badge.badge.badge_none
								.badge__text None
							
				td.table__cell $0
				td.table__cell May 6, 10:58
				td.table__cell May 10, 10:58